# Locally-managed Cloudflare tunnel UUID.
CLOUDFLARED_TUNNEL_ID=68955cd9-723c-44e6-a49f-557730fe1d92

# Full JSON contents of locally-managed tunnel credentials file.
CLOUDFLARED_TUNNEL_CREDENTIALS_JSON="op://HomePi/cloudflared-tunnel-credentials/tunnel-credentials.json"
